.container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-flow: column;
    height: 100vh;
    background-image: url('../../../assets/logo.svg');
    background-position-x: right;
    background-position-y: center;
    background-position: 40vh;
}

li {
    line-height: 19px;
    padding-block: 10px;
    max-width: 400px;
}

li::marker {
    color: #61DAFB;
}

div {
    background-repeat: no-repeat;
    /* color: aliceblue; */

}